# Byte-compiled / optimized / DLL files
__pycache__/

# custom
**/screenshot/*
**/temp/*
.vscode/launch.json
log/
tmp_lqh/
model_cache/
.DS_Store
Mobile-Agent-E/config.ini
Mobile-Agent-E/data/custom_tasks.json
Mobile-Agent-E/data/custom_tasks.json
